.player-controls-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between !important;
  width: 100% !important;
  min-width: 100%;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.player-controls-container.tv{
  flex-direction: column;
}

.player-controls-container-lang{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.player-controls-container-servers{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}

.server-buttons {
  display: flex;
  gap: 0.5rem;
}

.server-label-playerarea {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: var(--text-color);
  margin-right: 5px;
  font-weight: 700;
}

.server-button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: var(--blackbg1);
  color: var(--text-color);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.server-button-active {
  background-color: var(--item-bg) !important;
  border-left: 4px solid var(--second) !important;
  box-shadow: 0 2px 8px rgba(52, 152, 219, 0.2) !important;
  transform: translateX(4px) !important;
  color: var(--text) !important;
}

.server-button-active:hover {
  background-color: var(--blackbg2);
}

.server-button-inactive:hover {
  background-color: var(--black-light);
}

.navigation-buttons {
  display: flex;
  gap: 0.5rem;
}

.nav-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--blackbg1);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.nav-button:hover {
  background-color: var(--black-light);
}

.nav-icon {
  width: 1rem;
  height: 1rem;
}

@media (max-width: 767px) {
  .player-controls-container {
    flex-direction: column;
    align-items: center;
  }

  .server-buttons {
    margin-bottom: 1rem;
  }

  .server-button, .nav-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
}