.Account-Main {
    padding: 15px;
    /* height: 1000px; */
    border: 2px solid #192938;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.15), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.15), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    overflow-x: hidden;

    .switchAccountLists {
        position: relative;
        margin-bottom: 70px;

        &>.contentWrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .AccountListTittle {
            font-size: 24px;
            display: inline;
            color: var(--text-color);
            font-weight: var(--weight);
        }

    }

}