.ReviewsSection {
    margin-bottom: 25px;


    h1 {
        text-align: left;
        font-size: 25px;
        margin-bottom: 10px;
        color: var(--text-color);
        // font-weight: 700;
    }

    h4 {
        margin-bottom: 25px;
        text-align: left;
        font-size: 15px;
        color: var(--heading-color);
    }

    .reviews-container {
        min-height: 545px;
        min-height: 175px;
        padding-left: 15px;
        padding-right: 15px;
        overflow-y: auto;

        .review-item {

            .review-Area {
                display: flex;
                padding-right: 10px;
                margin-top: 20px;
                margin-bottom: 30px;
                // align-items: center;
                border-radius: 15px;
                box-shadow: -48px 55px 220px hsl(0deg 0% 0% / 0.31);

                .reviewtArea-avatar {
                    width: 125px;
                    height: 125px;
                    margin-right: 15px;
                    margin-bottom: 10px;

                    img {
                        width: 125px;
                        height: 125px;
                        margin-left: 10px;
                        border-radius: 100%;
                        border: solid 4px #070707;
                    }

                    svg {
                        font-size: 141px;
                        color: var(--text-color);
                    }

                    .reviewArea-avatar-wrapper {
                        position: relative;
                        top: 6px;

                    }
                }

                .reviewArea-body {
                    text-align: left;
                    color: var(--text-color);
                    margin-top: 34px;
                    margin-left: 10px;

                    p {
                        color: var(--text-color);
                        margin: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}