.AccountArea {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
    /* padding: 15px; */
    align-items: center;
    border-radius: 15px;
    box-shadow: -48px 55px 220px hsl(0deg 0% 0% / 0.31);
}

.button-load {
    /* position: relative; */
    /* top: 4px; */
    /* right: 8px; */
    padding: 12px;
    cursor: pointer;
    text-align: right;
    font-size: 15px;
    color: var(--text-color);
    background-color: var(--black);
    border-radius: 8px;
}

.button-load:hover {
    color: var(--pink);
    padding: 10px;
    border-radius: 12px;
}

.AccountArea .AccountArea-avatar {
    width: 135px;
    position: relative;
    left: 13px;
    top: 10px;
    height: 150px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.AccountArea .AccountArea-avatar img {
    width: 135px;
    height: 140px;
    border-radius: 100%;
    border: solid 4px var(--text-color);
}

.AccountArea .AccountArea-avatar img:hover {
    width: 138px;

}

.AccountArea .AccountArea-body {
    text-align: left;
    color: var(--text-color);
    display: grid;
    padding-left: 15px;
    padding-top: 10px;
    row-gap: 15px;
    margin-left: 5px;
    column-gap: 5px;
    grid-template-columns: 400px 400px 400px;

}



@media only screen and (max-width: 1200px) {
    .AccountArea .AccountArea-body {
        margin-top: 8px;
        grid-template-columns: 400px 400px;
        gap: 8px;
        padding-left: 2px;
        margin-left: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .AccountArea .AccountArea-body {
        margin-top: 8px;
        grid-template-columns: 400px;
        gap: 8px;
        column-gap: 0;
        margin-left: 0;
        text-align: center;
    }
}

.AccountArea .AccountArea-avatar .AccountArea-avatar-wrapper {
    position: relative;
}

.AccountArea .AccountArea-avatar>div>div {
    display: flex;
    justify-content: center;
}

.AccountArea .AccountArea-avatar .AccountArea-avatar-wrapper button {
    bottom: 12px;
    display: none;
    position: absolute;
    background-color: #070707;
    border: 1px solid #070707;
}

.AccountArea .AccountArea-avatar .AccountArea-avatar-wrapper:hover button {
    display: block;
}

.AccountArea .AccountArea-avatar svg {
    font-size: 140px;
    color: var(--text-color);

}

.AccountArea p {
    color: var(--text-color);
    margin: 0;
    margin-bottom: 10px;
}

.AccountArea p:hover {
    color: var(--pink);
    text-decoration: underline;
}

@media (max-width: 768px) {
    .AccountArea {
        flex-direction: column;
    }
}

/* End */