.details {
    border: 2px solid #192938;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.15), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.15), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    overflow-x: hidden;

    .alternateswipergfhf6677 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        /* height: 200px; */
        width: 100%;
        margin-bottom: 15px;

        .alternateswipergfhf6677 .fhfhfhyf67576 {
            color: var(--text-color);
            width: 70%;
            font-size: 18px;
            text-align: center;
            font-weight: 400;
            padding: 5px;
        }
    }
}