.container-home-banner {
    height: 100vh;
    /* margin-top: -px; */
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.container-home-banner .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}

.container-home-banner .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: var(--bg-img);
    z-index: 999;
    transition: 0.5s;
    animation: slide .5s linear;
}

.loaderstar34 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

@keyframes slide {
    50% {
        left: 50px;
    }

    70% {
        left: 20px;
    }

    100% {
        left: 0;
    }
}

.container-home-banner .list .item .content {
    position: absolute;
    top: 14%;
    width: 1140px;
    max-width: 80%;
    left: 45%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #0004;
}

.container-home-banner .list .item .author {
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 1em;
}

.container-home-banner .list .item .title {
    font-size: 3.2em;
    font-weight: bold;
    line-height: 1.3em;
    /* margin-top: 5px; */
    color: #f1683a;
    margin-bottom: 0;
}

.container-home-banner .list .item .topic {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.3em;
    margin-top: 0;
}

.container-home-banner .list .item .topic {
    color: white;
}

.container-home-banner .list .item .des {
    color: white;
    line-height: 1.5em;
    margin-top: 4px;
}

.container-home-banner .list .item .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.container-home-banner .list .item .buttons button {
    border: none;
    background-color: var(--item-bg);
    letter-spacing: 3px;
    font-family: Poppins;
    color: black;
    font-weight: 500;
}

.container-home-banner .list .item .buttons button:hover {
    background-color: #f1683a;
    border-radius: 10px;
    color: var(--text-color);
    font-weight: 800;
    transition: 0.2s;
}

.container-home-banner .list .item .buttons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: white;
}

/* thumbail */
.thumbnail {
    position: absolute;
    bottom: 8px;
    left: 48%;
    width: max-content;
    z-index: 1;
    display: flex;
    gap: 20px;
    width: 665px;
    overflow-y: scroll;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    color: white;
}

.thumbnail .item:hover {
    border: 2px solid var(--text-color);
    transition: .7s;

}

.opacity-layer {
    width: 100%;
    height: 127px;
    background: var(--opacity-layer);
    position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    filter: var(--bg-img2);
}

.thumbnail .item img:hover {
    scale: 1.1;
    border-radius: 20px;

}




.thumbnail .item .content {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title {
    font-weight: 500;
}

.thumbnail .item .content .description {
    font-weight: 300;
}