.main-streamarea {
    h1 {
        font-size: 25px;
        color: var(--text-color);
        margin-bottom: 25px;
        margin-top: 20px;
        text-align: center;
    }

    .stream-main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;

        .stream-body {
            height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border: 2px solid var(--text-color);
            border-radius: 8px;

            .iframe-stream {
                height: 100%;
                width: 100%;
                z-index: 99999999;
            }
        }
    }
}