.scrollbtonn4525 {
    position: fixed;
    background: transparent;
    // top: 515px;
    bottom: 5px;
    right: 18px;
    z-index: 999999999999;
    backdrop-filter: blur(10px);
    transition: 0.5s;
    opacity: 0.8;
    padding: 8px;
    border: 0.5px solid var(--media);
    border-radius: 5px;

    .spanscrollbutt {
        padding: 2px;

        .upscrollbutt {
            color: var(--text-color);
            font-size: 45px;

            &:hover {
                color: var(--pink);
            }

        }
    }

    @media only screen and (max-width: 440px) {
        bottom: 85px;
    }
}