.profileuser {
    position: absolute;
    display: flex;
    top: 66px;
    width: 260px;
    /* left: -169px; */
    flex-direction: row;
    gap: 4px;
    border: 1px solid var(--heading-color);
    border-radius: 12px;
    background-color: var(--black);
    padding: 9px;
    opacity: 0;
    box-shadow: -1px 1px 3px 5px var(--black);
}

.profileuser.active {
    opacity: 1;
}

#userprofile {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    background: var(--gradient);
    background-size: 680%;
    border-radius: 100px;
    color: var(--text-color);
    cursor: pointer;
    font-family: 'EB Garamond', serif;
    word-spacing: 785px;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-weight: 500;
    font-size: 20px;
}

#userprofile:hover {
    color: var(--pink);
    font-weight: 600;
}

#userlogout {
    background: var(--gradient);
    display: inline;
    background-size: 680%;
    border-radius: 100px;
    color: var(--text-color);
    cursor: pointer;
    font-family: 'EB Garamond', serif;
    word-spacing: 785px;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-weight: 500;
    font-size: 20px;
}

#userlogout:hover {
    color: var(--pink);
    font-weight: 600;
}

#crossuser {
    position: relative;
    left: 120px;
    font-size: 21px;
    top: 6px;
    cursor: pointer;
    color: var(--text-color);
}

#crossuser:hover {
    color: var(--pink);
    font-size: 22px;
}

#useremail {
    list-style: none;
    color: orange;
    border: 1px solid grey;
    height: 35px;
    padding: 5px;
    border-radius: 8px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 11px;
}

#useremail:hover {
    color: var(--pink);
    font-weight: 500;
}