@import "../../mixins.scss";

.header {
    position: fixed;
    transform: translateY(0);
    width: 100%;
    height: 60px;
    z-index: 9999999;
    display: flex;
    align-items: center;
    transition: all ease 0.5s;
    z-index: 99999999999999;

    &.top {
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(3.5px);
        z-index: 9999999999;
    }

    &.show {
        background-color: var(--black4);
        z-index: 9999999999;
    }

    &.hide {
        transform: translateY(-60px);
    }

    .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        cursor: pointer;

        img {
            height: 50px;
        }
    }

    .menuItems {
        list-style-type: none;
        display: none;
        align-items: center;

        @include md {
            display: flex;
        }

        .menuItem {
            height: 60px;
            display: flex;
            align-items: center;
            margin: 0 10px;
            color: white;
            text-decoration: none;
            font-weight: 500;
            position: relative;

            &.searchIcon {
                margin-right: 0;
            }

             &.active {
                color: var(--pink);
                text-decoration: none;
                font-weight: 600;
            }

            svg {
                font-size: 22px;
            }

            cursor: pointer;

            &:hover {
                color: var(--pink);
            }

            .logbutton {
                background: linear-gradient(-45deg, #FF3D77, #338AFF, #3CF0C5);
                border-radius: 100px;
                // box-shadow: black 2px 0px 14px 4px;
                color: white;
                cursor: pointer;
                font-family: 'EB Garamond', serif;
                display: inline-block;
                word-spacing: 785px;
                padding: 7px 20px;
                text-align: center;
                text-decoration: none;
                transition: all 250ms;
                border: 0;
                font-weight: 500;
                font-size: 20px;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                -webkit-text-stroke-width: 0.2px;
                -webkit-text-stroke-color: black;

                &:hover {
                    border: 2px solid white;
                    font-size: 21px;
                }
            }

            .loginbutton {
                background: linear-gradient(-45deg, #FF3D77, #338AFF, #3CF0C5);
                border-radius: 100px;
                background-size: 680%;
                animation: anime 5s linear infinite;
                // box-shadow: black 2px 0px 14px 4px;
                color: white;
                cursor: pointer;
                font-family: 'EB Garamond', serif;
                display: inline-block;
                word-spacing: 785px;
                padding: 7px 20px;
                text-align: center;
                text-decoration: none;
                transition: all 250ms;
                border: 0;
                font-weight: 500;
                font-size: 20px;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                -webkit-text-stroke-width: 0.2px;
                -webkit-text-stroke-color: black;

                &:hover {
                    border: 2px solid white;
                    font-size: 21px;
                }
            }

            @keyframes anime {
                0% {
                    background-position: 0%, 50%;
                }

                50% {
                    background-position: 100%, 50%;
                }

                100% {
                    background-position: 0%, 50%;
                }
            }
        }

        #person {
            font-size: 25px;

            @media only screen and (max-width: 540px) {
                font-size: 25px;
            }
        }
    }

    .mobileMenuItems {
        display: flex;
        align-items: center;
        gap: 20px;

        @include md {
            display: none;
        }

        svg {
            font-size: 18px;
            color: white;
        }
    }

    &.mobileView {
        background: var(--black3);

        .menuItems {
            display: flex;
            position: absolute;
            top: 60px;
            left: 0;
            background: var(--black3);
            flex-direction: column;
            width: 100%;
            padding: 20px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            animation: mobileMenu 0.3s ease forwards;

            .menuItem {
                font-size: 20px;
                width: 100%;
                height: auto;
                padding: 15px 20px;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                &:last-child {
                    display: none;
                }
            }
        }
    }

    .searchBar {
        width: 100%;
        height: 60px;
        background-color: white;
        position: absolute;
        top: 60px;
        animation: mobileMenu 0.3s ease forwards;

        .searchInput {
            display: flex;
            align-items: center;
            height: 40px;
            margin-top: 10px;
            width: 100%;

            svg {
                font-size: 20px;
                flex-shrink: 0;
                margin-left: 10px;
                cursor: pointer;
            }

            input {
                width: 100%;
                height: 50px;
                background-color: white;
                outline: 0;
                border: 0;
                border-radius: 30px 0 0 30px;
                padding: 0 15px;
                font-size: 14px;

                @include md {
                    height: 60px;
                    font-size: 20px;
                    padding: 0 30px;
                }
            }
        }
    }
}

@keyframes mobileMenu {
    0% {
        transform: translateY(-130%);
    }

    100% {
        transform: translateY(0);
    }
}

.menuItems .menuItem .buttonheadersvc {
  all: unset;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  border-radius: 100em;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow:
    -0.15em -0.15em 0.15em -0.075em rgba(5, 5, 5, 0.25),
    0.0375em 0.0375em 0.0675em 0 rgba(5, 5, 5, 0.1);
}

.menuItems .menuItem .buttonheadersvc::after {
  content: "";
  position: absolute;
  z-index: 0;
  width: calc(100% + 0.3em);
  height: calc(100% + 0.3em);
  top: -0.15em;
  left: -0.15em;
  border-radius: inherit;
  background: linear-gradient(
    -135deg,
    rgba(5, 5, 5, 0.5),
    transparent 20%,
    transparent 100%
  );
  filter: blur(0.0125em);
  opacity: 0.25;
  mix-blend-mode: multiply;
}

.menuItems .menuItem .buttonheadersvc .button-outerheadersvc {
  position: relative;
  z-index: 1;
  border-radius: inherit;
  transition: box-shadow 300ms ease;
  will-change: box-shadow;
  box-shadow:
    0 0.05em 0.05em -0.01em rgba(5, 5, 5, 1),
    0 0.01em 0.01em -0.01em rgba(5, 5, 5, 0.5),
    0.15em 0.3em 0.1em -0.01em rgba(5, 5, 5, 0.25);
}

.menuItems .menuItem .buttonheadersvc:hover .button-outerheadersvc {
  box-shadow:
    0 0 0 0 rgba(5, 5, 5, 1),
    0 0 0 0 rgba(5, 5, 5, 0.5),
    0 0 0 0 rgba(5, 5, 5, 0.25);
}

.menuItems .menuItem .button-innerheadersvc {
  --inset: 0.035em;
  position: relative;
  z-index: 1;
  border-radius: inherit;
  padding: 0.7em 1.3em;
  background-image: linear-gradient(
    135deg,
    rgb(244, 128, 5),
    rgb(200, 115, 40)
  );
  transition:
    box-shadow 300ms ease,
    clip-path 250ms ease,
    background-image 250ms ease,
    transform 250ms ease;
  will-change: box-shadow, clip-path, background-image, transform;
  overflow: clip;
  clip-path: inset(0 0 0 0 round 100em);
  box-shadow:
        /* 1 */
    0 0 0 0 inset rgba(5, 5, 5, 0.1),
    /* 2 */ -0.05em -0.05em 0.05em 0 inset rgba(5, 5, 5, 0.25),
    /* 3 */ 0 0 0 0 inset rgba(5, 5, 5, 0.1),
    /* 4 */ 0 0 0.05em 0.2em inset rgba(255, 255, 255, 0.25),
    /* 5 */ 0.025em 0.05em 0.1em 0 inset rgba(255, 255, 255, 1),
    /* 6 */ 0.12em 0.12em 0.12em inset rgba(255, 255, 255, 0.25),
    /* 7 */ -0.075em -0.25em 0.25em 0.1em inset rgba(5, 5, 5, 0.25);
}

.menuItems .menuItem .button-innerheadersvc.logoutheader{
    background-image: linear-gradient(
        135deg,
        rgb(244, 45, 5),
        rgb(200, 115, 40)
    );
}

.menuItems .menuItem .buttonheadersvc:hover .button-innerheadersvc {
  clip-path: inset(
    clamp(1px, 0.0625em, 2px) clamp(1px, 0.0625em, 2px)
      clamp(1px, 0.0625em, 2px) clamp(1px, 0.0625em, 2px) round 100em
  );
  box-shadow:
        /* 1 */
    0.1em 0.15em 0.05em 0 inset rgba(5, 5, 5, 0.75),
    /* 2 */ -0.025em -0.03em 0.05em 0.025em inset rgba(5, 5, 5, 0.5),
    /* 3 */ 0.25em 0.25em 0.2em 0 inset rgba(5, 5, 5, 0.5),
    /* 4 */ 0 0 0.05em 0.5em inset rgba(255, 255, 255, 0.15),
    /* 5 */ 0 0 0 0 inset rgba(255, 255, 255, 1),
    /* 6 */ 0.12em 0.12em 0.12em inset rgba(255, 255, 255, 0.25),
    /* 7 */ -0.075em -0.12em 0.2em 0.1em inset rgba(5, 5, 5, 0.25);
}

.menuItems .menuItem .buttonheadersvc .button-innerheadersvc span {
  position: relative;
  z-index: 4;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.05em;
  font-weight: 650;
  color: rgb(255, 255, 255);
  padding-bottom: 2px;
  background-image: linear-gradient(
    135deg,
    rgba(25, 25, 25, 1),
    rgba(75, 75, 75, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  transition: transform 250ms ease;
  display: block;
  will-change: transform;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 0.1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menuItems .menuItem .buttonheadersvc:hover .button-innerheadersvc span {
  transform: scale(0.975);
}

.menuItems .menuItem .buttonheadersvc:active .button-innerheadersvc {
  transform: scale(0.975);
}
