.navbar {
    bottom: 1.5px;

    &.top {
        opacity: 0.2;
    }

    &.show {
        opacity: 0.5;
    }

    &.hide {
        opacity: 1;
    }

    &.streamhidem{
        opacity: 0;
        display: none;
    }
}