.navbar {
      position: fixed;
    width: 400px;
    height: 68px;
    bottom: 1px;
    z-index: 2147483647;
    opacity: 0.6;
    background: var(--item-bg);
    border-radius: 10px;
    transition: 0.5s;
}

.navbar.streamhidem{
    right: 3.6% !important;
}

.navbar.normalnavbarposition{
     left: 50%;
    transform: translate(-50%);
}


.navbar:hover {
    opacity: 1;
    border-radius: 5px;
}

.navbar ul {
      display: flex;
    width: 350px;
}

/* @media only screen and (max-width: 440px) {
    .navbar ul {
        width: 370px
    }
} */

.navbar ul .list {
      position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
    list-style: none;
    padding-top: 16px;
    padding-left: 16px;
}

.navbar ul .list a {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
}

.navbar ul .list a .icon {
       position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: rgb(34, 35, 39);
    transition: 0.5s;
}

.navbar ul .list.active a .icon {
    transform: translateY(-32px);
}

.navbar ul .list:hover a .icon {
    transform: translateY(-32px);
}

.navbar ul .list a .text {
       position: absolute;
    color: rgb(34, 35, 39);
    font-weight: 600;
    font-size: 0.75em;
    letter-spacing: 0.03em;
    top: 3px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
}

#zero {
    left: -8px;
      top: -12px;
}

#one {
    left: -12px;
    top: -12px;
}

#two {
    left: 8px;
    top: -12px;
}

#three {
    left: -22px;
      top: -12px;
       display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#four {
    left: -4px;
      top: -12px;
       display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#four svg{
    font-weight: 500;
    color: black;
}

#five {
    left: 1px;
      top: -12px;
}

#six {
    left: 6px;
      top: -12px;
}

/* 
@media only screen and (max-width: 440px) {
    #six {
        left: -2px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 440px) {
    #three {
        left: 0px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 440px) {
    #six {
        left: -2px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 440px) {
    #zero {
        left: 5px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 440px) {
    #two {
        left: 17px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 440px) {
    #one {
        left: -1px;
        font-size: 16px;
    }
} */


.navbar ul .list.active a .text {
    opacity: 1;
}

.navbar ul .list:hover a .text {
    opacity: 1;
}

.indicator {
       position: absolute;
    top: -50%;
    height: 70px;
    width: 70px;
    opacity: 0;
    background: rgb(41, 253, 83);
    border-radius: 50%;
    border: 6px solid var(--black);
    transition: 0.5s;
}

.navbar ul .list.active~.indicator {
    opacity: 1;
}

/* @media only screen and (max-width: 440px) {
    .indicator {
        width: 57px;
    }
} */

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    height: 20px;
    width: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -7px 0 0 var(--black);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    height: 20px;
    width: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -7px 0 0 var(--black);
}

.navbar ul .list:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}

.navbar ul .list:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}

.navbar ul .list:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}

.navbar ul .list:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}

.navbar ul .list:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}

/* .navbar ul .list:nth-child(6).active~.indicator {
    transform: translateX(calc(70px * 5));
} */

/* .navbar ul .list:nth-child(7).active~.indicator {
    transform: translateX(calc(70px * 6));
} */
/* 
@media only screen and (max-width: 440px) {
    .navbar ul .list:nth-child(1).active~.indicator {
        transform: translateX(calc(52px * 0));
    }
}

@media only screen and (max-width: 440px) {
    .navbar ul .list:nth-child(2).active~.indicator {
        transform: translateX(calc(52px * 1));
    }
}

@media only screen and (max-width: 440px) {
    .navbar ul .list:nth-child(3).active~.indicator {
        transform: translateX(calc(52px * 2));
    }
}

@media only screen and (max-width: 440px) {
    .navbar ul .list:nth-child(4).active~.indicator {
        transform: translateX(calc(52px * 3));
    }
}

@media only screen and (max-width: 440px) {
    .navbar ul .list:nth-child(5).active~.indicator {
        transform: translateX(calc(52px * 4));
    }
}

@media only screen and (max-width: 440px) {
    .navbar ul .list:nth-child(6).active~.indicator {
        transform: translateX(calc(52px * 5));
    }
}

@media only screen and (max-width: 440px) {
    .navbar ul .list:nth-child(7).active~.indicator {
        transform: translateX(calc(52px * 6));
    }
} */

.navbar .streamhidemobile{
    opacity: 0 !important;
    display: none;
}