.CustomSection01 {
    position: relative;
    margin-bottom: 70px;
    padding-top: 25px;
    background-color: var(--customliked);
    border-radius: 24px;
}

.CustomSection01 .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.CustomSection01-title {
    font-size: 24px;
    margin-top: 8px;
    cursor: pointer;
    color: var(--text-color);
    font-weight: var(--weight);
}