.logos {
    /* margin-top: 15px; */
    padding: 30px 0px 26px;
    display: grid;
    grid-gap: 25px;
    gap: 25px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .logos {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.logo-item {
    padding-top: 56.25%;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
        rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    border: 3px solid var(--borderS);
}

.img {
    inset: 0px;
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    position: absolute;
    transition: opacity 500ms ease-in-out 0s;
    width: 100%;
    z-index: 1;
    top: 0;
}

/* #d {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    left: 50%;
    top: 50%;
} */



.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: 0;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.headingt {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    color: yellow;
    text-shadow: 3px 2px 3px 5px yellow;
}

.logo-item:hover {
    box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
        rgb(0 0 0 / 72%) 0px 30px 22px -10px;

    transform: scale(1.05);
    border-color: rgba(249, 249, 249, 0.8);

    video {
        opacity: 1;
    }

    img {
        opacity: 0;
    }
}