.container {
    display: flex;
    width: 90vw;
    margin-bottom: 60px;
}

.high {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 800;
    color: var(--text-color);
}

.panel:nth-child(1) {
    background-image: url("../../../../public/Welcome\ To\ MovieVerse1.gif");
}

.panel:nth-child(2) {
    background-image: url("../../../../public/Welcome\ To\ MovieVerse.gif");
}

.panel:nth-child(3) {
    background-image: url("../../../../public/Welcome\ To\ MovieVerse2.gif");
}

.panel:nth-child(4) {
    background-image: url("../../../../public/Welcome\ To\ MovieVerse3.gif");
}

.panel {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in;
    filter: brightness(8%);
}

.infoline {
    height: 1px;
    color: #162938;
    width: 100%;
    margin-top: 50px;
    display: block;
    margin-bottom: 20px;
}

.panel h1 {
    font-size: 35px;
    position: absolute;
    bottom: 19px;
    left: 26px;
    margin: 0;
    font-weight: 800;
    stroke: 1px solid black;
    opacity: 0;
}

.panel.active {
    flex: 6;
    filter: brightness(100%);

}

.panel.active h1 {
    /* opacity: 1; */
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width:480px) {
    .container {
        width: 100vw;
        transition: opacity 0.3s ease-in 0.4s;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}