.carouselSectionstream {
    position: relative;
    margin-bottom: 30px;
    margin-top: 22.5px;

    &>.contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .carouselTitle {
        font-size: 24px;
        color: var(--text-color);
        font-weight: var(--weight);
        cursor: pointer;

        @media only screen and (max-width: 440px) {
            font-size: 20px;
            margin-bottom: 4px;
        }

    }
}

.mobseltabstream {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9.5px;
    margin-bottom: 9px;

    .mobseltabitems {
        padding: 10px;
        padding-bottom: 2px;

        .butseltab34 {
            padding: 10px;
            color: var(--text-color);
            font-weight: 400;
            font-size: 15px;
            cursor: pointer;
            border-radius: 8px;
            background: var(--black-light);

            &.butseltaba {
                margin-right: 5px;
            }
        }
    }
}