.AccountLikedList .AccountLikedList-title {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 20px;
    font-weight: normal;
    text-align: center;
}

.AccountLikedList .AccountLikedList-list {
    display: grid;
    gap: 47px;
    margin-top: 30px;
    grid-template-columns: 195px 195px 195px 195px 195px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.AccountLikedList .AccountLikedList-item {
    width: 195px;
    cursor: pointer;
}

.AccountLikedList .AccountLikedList-poster {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1.5;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    display: flex;
    border: 1px solid var(--text-color);
    border-radius: 12px;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
    transition: .5s;
}

.AccountLikedList .lazy-load-image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    /* overflow: hidden; */
    /* transition: 0.5s; */
}

.AccountLikedList .AccountLikedList-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition: 0.3s; */
    object-position: center;
    filter: var(--bg-img2);
}

.noresultsaccount67 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    font-size: 30px;
    color: var(--heading-color);
    font-weight: 700;
    width: 100%;
}

.noresultsaccount67 span {
    border-radius: 10px;
    color: white;
    padding: 10px;
    background-color: orange
}

.AccountLikedList .AccountLikedList-delete {
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 22px;
}

.AccountLikedList .AccountLikedList-delete:hover {
    color: red;
    top: 6px;
}

.AccountLikedList .AccountLikedList-text:hover {
    color: var(--pink);
}

.AccountLikedList .AccountLikedList-poster img:hover {
    filter: brightness(55%);
}

.AccountLikedList .AccountLikedList-text {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.AccountLikedList .AccountLikedList-texttitle {
    font-size: 19px;
    margin-bottom: 10px;
    line-height: 24px;
}